.container {
  width: 100%;
  height: 100vh;
  border: 1px solid gray;
  display: flex;
}
.container > div {
  width: 50%;
  height: 100%;
}
.right h1 {
  font-size: 80px;
  text-align: center;
  margin-bottom: -30px;
}
.right p {
  text-align: center;
  font-size: 50px;
}
.email_Box1 {
  width: 90%;
  height: 40px;
  margin: auto;
}

.email_Box1 input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}
.email_Box2 {
  width: 90%;
  height: 40px;
  margin: auto;
  margin-top: 25px;
}
.email_Box2 input {
  width: 77%;
  height: 100%;
  margin-left: 3px;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}
.email_Box2 select {
  width: 20%;
  height: 100%;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
}
.btnBox {
  width: 90%;
  margin: auto;
  margin-top:50px;
  height: 50px;
 
}
.btnBox button{
    width: 100%;
    height: 100%;
    background: black;
    color:white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
#msg1{
  font-size: 17px;
  color: white;
  font-weight: bold;
 margin-bottom: -15px;
}
#msg2{
  font-size: 17px;
  color: white;
  font-weight: bold;
  margin-top: 5px
}


@media screen and (max-width: 1200px) {
    .right h1 {
        font-size: 50px;
      }
      .right p {
        font-size: 40px;
      }
      .email_Box1 input {
        font-size: 16px;
      }
      .email_Box2 input {
        font-size: 16px;
        width: 73%;
      }
      .email_Box2 select {
       
        font-size: 16px;
     
      }
  }

  @media screen and (max-width: 670px) {
    .container{
        width: 100% ;
        display: flex;
        flex-direction: column;
    }
    .container > div{
        width: 100%;
    }
    .right h1 {
        font-size: 30px;
      }
      .right p {
        font-size: 30px;
      }
      .email_Box2 {
        width: 90%;
        height: 35px;
        margin: auto;
        margin-top: 30px;
      }

  }